In [44]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from statsmodels.tsa.stattools import adfuller
from statsmodels.regression.linear_model import OLS
import itertools

In [45]:
'''
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# Use pandas to read the tables on the Wikipedia page
tables = pd.read_html(url)

# The first table contains the S&P 500 companies
sp500_table = tables[0]

# Extract the 'Symbol' column into a list
tickers = sp500_table['Symbol'].tolist()

  # Display the list of S&P 500 tickers
'''

"\nurl = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'\n\n# Use pandas to read the tables on the Wikipedia page\ntables = pd.read_html(url)\n\n# The first table contains the S&P 500 companies\nsp500_table = tables[0]\n\n# Extract the 'Symbol' column into a list\ntickers = sp500_table['Symbol'].tolist()\n\n  # Display the list of S&P 500 tickers\n"

In [46]:
tickers = [
    "AAPL",  # Apple Inc.
    "MSFT",  # Microsoft Corporation
    "GOOGL", # Alphabet Inc.
    "AMZN",  # Amazon.com Inc.
    "META",  # Meta Platforms Inc.
    "NVDA",  # NVIDIA Corporation
    "TSLA",  # Tesla Inc.
    "ADBE",  # Adobe Inc.
    "CRM",   # Salesforce.com Inc.
    "NFLX",  # Netflix Inc.
    "INTC",  # Intel Corporation
    "CSCO",  # Cisco Systems Inc.
    "IBM",   # International Business Machines Corporation
    "ORCL",  # Oracle Corporation
    "QCOM",  # Qualcomm Incorporated
    "PYPL",  # PayPal Holdings Inc.
    "SNAP",  # Snap Inc.
    "TWTR",  # Twitter Inc.
    "ZM",    # Zoom Video Communications Inc.
    "ATVI"   # Activision Blizzard Inc.
]

In [47]:
startdate = "2021-01-01"
enddate = "2024-01-01"

cointegrated_pairs = []

data = pd.DataFrame()

for ticker in tickers:
    try:
        # Download the Adjusted Close prices for each ticker
        ticker_data = yf.download(ticker, start=startdate, end=enddate)['Adj Close']
        
        if not ticker_data.empty:
            # Add the series to the DataFrame with the ticker as the column name
            data[ticker] = ticker_data
        else:
            print(f"No data for {ticker}")
    except Exception as e:
        print(f"Error downloading {ticker}: {e}")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ATVI']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

No data for TWTR
No data for ATVI

In [48]:
data.dropna()
data.head()

,AAPL,MSFT,GOOGL,AMZN,META,NVDA,TSLA,ADBE,CRM,NFLX,INTC,CSCO,IBM,ORCL,QCOM,PYPL,SNAP,ZM
Date,,,,,,,,,,,,,,,,,,
2021-01-04,126.683441,210.844269,86.093323,159.331497,268.132690,13.081203,243.256668,485.339996,219.336288,522.859985,44.902931,39.525215,99.603645,60.189003,137.035431,231.919998,49.590000,359.980011
2021-01-05,128.249741,211.047684,86.787598,160.925507,270.156586,13.371737,245.036667,485.690002,220.540955,520.799988,45.752716,39.543201,101.371651,59.443130,140.662033,234.910004,50.310001,360.829987
2021-01-06,123.932648,205.575363,85.931213,156.919006,262.519592,12.583433,251.993332,466.309998,215.194672,500.489990,46.195690,39.920834,103.903145,59.300968,139.517792,226.830002,49.820000,344.410004
2021-01-07,128.161636,211.425415,88.497871,158.108002,267.933258,13.311137,272.013336,477.739990,217.016586,508.890015,47.181072,40.424332,103.662041,59.774849,143.679611,235.039993,52.439999,342.500000
2021-01-08,129.267822,212.713577,89.669464,159.134995,266.766815,13.244051,293.339996,485.100006,221.058624,510.399994,46.692913,40.514252,103.292381,60.068645,144.547043,242.460007,52.730000,349.609985

In [49]:
'''
fintickers = data.columns
numtickers = len(data.columns)
alpha = 0.05


def two_step_coint_test(stock1,stock2):
    model = OLS(stock1,stock2).fit()
    residuals = model.resid

    adf = adfuller(residuals)

    return adf[1]



for i in range(numtickers):
    for j in range(i+1, numtickers):
        stock1 = data[fintickers[i]]
        stock2 = data[fintickers[j]]
        p_val = two_step_coint_test(stock1, stock2)

        if p_val < alpha:
            cointegrated_pairs.append((fintickers[i], fintickers[j]))

cointegrated_pairs
'''

'\nfintickers = data.columns\nnumtickers = len(data.columns)\nalpha = 0.05\n\n\ndef two_step_coint_test(stock1,stock2):\n    model = OLS(stock1,stock2).fit()\n    residuals = model.resid\n\n    adf = adfuller(residuals)\n\n    return adf[1]\n\n\n\nfor i in range(numtickers):\n    for j in range(i+1, numtickers):\n        stock1 = data[fintickers[i]]\n        stock2 = data[fintickers[j]]\n        p_val = two_step_coint_test(stock1, stock2)\n\n        if p_val < alpha:\n            cointegrated_pairs.append((fintickers[i], fintickers[j]))\n\ncointegrated_pairs\n'

In [53]:
fintickers = data.columns
numtickers = len(data.columns)
alpha = 0.05


# Two-step cointegration test
def two_step_coint_test(stock1, stock2):
    # Fit OLS regression of stock1 on stock2
    model = OLS(stock1, stock2).fit()
    residuals = model.resid
    
    # Perform the Augmented Dickey-Fuller test on residuals
    adf = adfuller(residuals)
    
    # Return p-value of the ADF test
    return adf[1]

# Iterate through combinations of stocks to test for cointegration
for i in range(numtickers):
    for j in range(i+1, numtickers):
        stock1 = data[fintickers[i]].copy()
        stock2 = data[fintickers[j]].copy()
        
        # Remove NaN and Inf values from both stock1 and stock2
        combined = pd.concat([stock1, stock2], axis=1)
        combined = combined.replace([np.inf, -np.inf], np.nan).dropna()

        if not combined.empty:  # Ensure we have data after cleaning
            stock1_clean = combined.iloc[:, 0]
            stock2_clean = combined.iloc[:, 1]
            
            # Apply the two-step cointegration test
            p_val = two_step_coint_test(stock1_clean, stock2_clean)

            if p_val < alpha:
                cointegrated_pairs.append((fintickers[i], fintickers[j]))

cointegrated_pairs

In [51]:
spreads = pd.DataFrame()


for pair in cointegrated_pairs:
    tk1, tk2 = pair
    spreads[f"{tk1} - {tk2}"] = data[tk1] - data[tk2]
    

spreads.head()

,GOOGL - AMZN,GOOGL - TSLA,TSLA - QCOM,ADBE - CRM,PYPL - SNAP,PYPL - ZM,SNAP - ZM
Date,,,,,,,
2021-01-04,-73.238174,-157.163345,106.221237,266.003708,182.329998,-128.060013,-310.390011
2021-01-05,-74.137909,-158.249069,104.374634,265.149048,184.600002,-125.919983,-310.519985
2021-01-06,-70.987793,-166.062119,112.475540,251.115326,177.010002,-117.580002,-294.590004
2021-01-07,-69.610130,-183.515465,128.333725,260.723404,182.599995,-107.460007,-290.060001
2021-01-08,-69.465530,-203.670532,148.792953,264.041382,189.730007,-107.149979,-296.879986

In [52]:
spreadsdict = {
    'Mean Difference' : spreads.mean()
}

mean_spread = pd.DataFrame(spreadsdict)

mean_spread

              Mean Difference
GOOGL - AMZN       -19.309899
GOOGL - TSLA      -127.939357
TSLA - QCOM        118.917427
ADBE - CRM         265.762371
PYPL - SNAP        108.725439
PYPL - ZM          -23.839688
SNAP - ZM         -132.565126